---
import Shell from "../components/Shell.astro";
---

<Shell>
	<main>
		<div class="h-screen flex justify-center items-center">
			<div class="flex gap-2 items-center">
				<div class="i-solar-ghost-smile-linear"></div>Do something great
			</div>
		</div>
	</main>
</Shell>
