---
import BaseHead from "./BaseHead.astro";
export type Props = {
  title?: string;
  description?: string;
};
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={Astro.props.title ?? "Hello, Astronaut!"}
      description={Astro.props.description ?? "Welcome to my website!"}
    />
  </head>
  <body>
    <slot />
  </body>
</html>
